[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
huggingface-hub = "*"
python-multipart = "*"
python-dotenv = "*"
ffmpeg = "*"
torch = "*"
transformers = "*"
datasets = {extras = ["audio"], version = "*"}
accelerate = "*"
torchaudio = "*"
numpy = "*"
pillow = "*"
assemblyai = "*"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3.11"
